#btnAlert
    {
        left: 0px;
        bottom:0px;
        margin-left: 20px;
        margin-bottom: 45px;
        z-index: 9999;
        position: fixed;
        height: 50px;width: 50px;border-radius: 50%;
        font-size: 20px;
        text-align: center;
        background-color:#78073a;
        color:white;
        box-shadow: -2px 1px 3px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -2px 1px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 1px 3px 0px rgba(0,0,0,0.75);
        transition: 0.5s;
    }
    #btnAlert:hover
    {
        background-color: #4e0626;
        color: white;
    }
    .alert_box
    {
        display: none;
        position: fixed;
        z-index: 9999;
        margin-bottom: 10px;
        margin-left: 10px;
        width: 300px;
        height: 220px;
        background-color: #7f0a0a;
        border-radius: 10px;
        left: 0;
        bottom: 0;
    }
    .alert_form
    {
        padding: 10px;
    }
    #after_menu
    {
        width: 100%;
        height: 120px;
        text-align: center;
        color: white;
        background: #68001f; 
        background: -moz-linear-gradient(left, #68001f 0%, #590019 53%, #a00063 100%); 
        background: -webkit-linear-gradient(left, #68001f 0%,#590019 53%,#a00063 100%); 
        background: linear-gradient(to right, #68001f 0%,#590019 53%,#a00063 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68001f', endColorstr='#a00063',GradientType=1 ); 
    }
    .all_new_cars_title
    {
        font-size: 30px;
    }
    .alert_form p
    {
        font-style: italic;
        font-size: 11px;
        color: white;
        font-weight: bold;
        text-align: center;
    }
    .alert_form input
    {
        border-radius:0px;
    }
        .btn_alert_submit
    {
        background-color: #640707;
        border:solid 1px white;
        color: white;
        border-radius: 0px;
        transition: 0.5s;
        width: 100%;
        transition: 1s;
    }
    .btn_alert_submit:hover
    {
       background-color: #350404;
       color: white;
    }
    .btn_close
    {
        color: white;
        font-size: 17px;
        transition: 0.5s;
        z-index: 9999;position: fixed;
    }
    .btn_close:hover
    {
        padding: 3px 5px;background-color:white;color:black;
    }
    #myError_msg
    {
        background-color: #78073a;
        width: 280px;
        padding: 5px;color:white;
        -webkit-animation-duration:2s; 
        -moz-animation-duration:2s; 
        -o-animation-duration:2s; 
        animation-duration: 2s;
        bottom: 0px;
        left: 0px;
        margin-bottom: 30px;
        margin-left: 30px;
        z-index: 9999;
        position: fixed;
        text-align: center;
        box-shadow: -2px 1px 3px 0px rgba(0,0,0,0.75);
    }
    