/* colors -> https://coolors.co/e54b4b-ebebd3-464655-e4b363-e8e9eb */

@import url('href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet');
@import url('href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body{
background: #F0F8EA;
font-family: 'Quicksand', sans-serif;
margin: 0;
padding: 0;
}

.myMainCont{
background:#f8f7f8;
left: 0;
right: 0;
}

select{
margin-bottom: 10px;
}

#green
{
margin:5px 1px;
font-size: 20px;
color: #032e12;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.14);
}
#lightgreen
{
  margin:5px 1px;
  font-size: 20px;
  color: #0a5b27;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.14);
}
#orange
{
  margin:5px 1px;
  font-size: 20px;
  color: #ef8f09;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.14);
}
#lightorange
{
margin:5px 1px;
  font-size: 20px;
  color: #e2b044;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.14);
}
#red
{
margin:5px 1px;
  font-size: 20px;
  color: #ba0514;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.14);
}
#normalStar
{
  margin:5px 1px;
  font-size: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.14);
}

/*HEADER STYLE*/


/*Icon After Slider Style*/
.container_icons
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#68001f+0,590019+53,a00063+100 */
  background: #68001f; /* Old browsers */
  background: -moz-linear-gradient(left, #68001f 0%, #590019 53%, #a00063 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #68001f 0%,#590019 53%,#a00063 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #68001f 0%,#590019 53%,#a00063 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68001f', endColorstr='#a00063',GradientType=1 ); /* IE6-9 */
}
.container_content
{
  background-color: #f8f3e2;

}
.container_icons img
{
    transition: transform .2s;
    width: 240px;
    height: 85px;
    margin: auto 0 !important;
}
/*.container_icons img:hover
{
   -ms-transform: scale(1.5); IE 9;
   -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
}*/


/*Car Logos*/
.all_car_logos
{
  padding: 15px;
}
.all_car_logos .thumbnail
{
  border:solid 1px transparent;
  background-color: transparent;
  background: transparent;
}
.all_car_logos .thumbnail:hover
{
  opacity: 0.5;
  border:solid 1px transparent;
  background-color: transparent;
  background: transparent;
}

 /*AFTER MENU*/
 #after_menu_gradiant
  {
    width: 100%;
    height: 5px;
    text-align: center;
    color: white;
    background: #68001f; 
    background: -moz-linear-gradient(left, #68001f 0%, #590019 53%, #a00063 100%); 
    background: -webkit-linear-gradient(left, #68001f 0%,#590019 53%,#a00063 100%); 
    background: linear-gradient(to right, #68001f 0%,#590019 53%,#a00063 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68001f', endColorstr='#a00063',GradientType=1 ); 
  }

  /*SELECT STYLE START*/
 select{
    border:1px solid #777;
    padding: .8rem 3rem .8rem .5rem;
    border-radius: 3px;
    color:#B00A50;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color:blue;
    cursor: pointer;
    margin-bottom: 10px;
    
    
}

.imgBgMethod, .borderMethod,.glyphIconMethod{
    display: inline-block;
    position: relative;
    width: 100%;
}

.imgBgMethod select{
    background: #fff url("http://i68.tinypic.com/9t3d3d.png ") no-repeat 95% 50%;
    margin-bottom: 10px;
}

.borderMethod select, .glyphIconMethod select{background: #fff;width: 100%; color:#4D4D4D;}

.borderMethod::after{
    content: "";
    display: inline-block;
    border-top: 7px solid #4D4D4D;
    border-right:7px solid transparent;
    border-left:7px solid transparent;
    position: absolute;
    top:calc(50% - 5px);
    right:.5rem;
    z-index: 0;
    pointer-events: none;
}

.glyphIconMethod::after{
    content: " \f13a";
    font-family: "FontAwesome";
    color: #fff;
    position: absolute;
    right:.5rem;
    top:15px;
    z-index: -1;
    pointer-events: none;
}
select:focus{
    border: 1px solid blue;
}
select::-ms-expand
{
    display: none;
}

#mini_search_form select
  {
    margin-bottom: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    border:solid 1px #909090;
    height: 38px;
    color: #4B4B4A;
    transition: 1s;
    padding: 3px 10px; 
    font-size: 14px;
    margin-bottom: -5px;
  }
  #mini_search_form select option
  {
    font-size: 13px;
    margin-top: 3px;
    padding: 5px 10px;
    text-align: justify;
    padding: 8px 16px;
  }
  #mini_search_form select option:after
  {
    padding: 5px 10px;
  }
  #mini_search_form select option:hover
  {
       color: red;
  }
 /*SELECT STYLE ENDS*/

 /*LOADER SPINNER STYLE*/
 .spinner
  {
   width: 80px;
   height: 80px;
   border: 2px solid #f3f3f3;
   border-top:3px solid #f25a41;
   border-radius: 100%;
   position: absolute;
   top:0;
   bottom:0;
   left:0;
   right: 0;
   margin: auto;
   animation: spin 1s infinite linear;
  }

  @keyframes spin {
      from{
          transform: rotate(0deg);
      }to{
          transform: rotate(360deg);
      }
  }

  #overlay
  {
    height:100%;
    width:100%;
    background:rgba(0, 0, 0, 1);
    position:fixed;
    left:0;
    top:0;
   }

   /*Car Mini info Margin Top*/
  .car_min_info
  {
    margin-top: 5px;
  }
  
