.thumbnail
    {
    	background-color: transparent;
    	background: transparent;
    	border:solid 2px transparent;
    	color: transparent;
    }
	.news_cars_main_table
	{
		font-size: 13px;
		color: #8a8787;
		text-align: justify;
	}
	.news_cars_thumnail
	{
		border:solid 1px transparent !important;
	}
	#new_car_main_image
	{
		border-radius: 0px;
		border:0px;
		/*height: 170px;*/
		width: 100%;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
	}
	.main_user_car_title
	{
		font-size: 18px;
	    font-weight: bold;
	    color: #7f0a0a;
	    text-align: justify;
	    text-decoration-style: none;
	    text-decoration: none;
	}
	.news_car_details
	{
		background-color: #fff;
		border:0px;
	}
	.news_car_details:over
	{
		background-color: #7f0a0a;
		color: white;
	}
	.new_car_details_info
	{
		padding: 10px;
	}
	.news_cars_span_year
	{
		font-style: 
	}
	#new_car_price
	{
		float: right;
		font-size: 23px;
		margin-top: -55px;
		z-index: 9999;
		font-weight: bold;
		color: #c2580b;
	}
	#availability
	{
		float: right;
		font-size: 18px;
		margin-top: -20px;
		z-index: 9999;
		font-weight: bold;
        color: #103a89;
        animation-iteration-count:infinite;
		animation-duration:4s;
		-webkit-animation-iteration-count:infinite;
        -webkit-animation-duration:4s;
        -moz-animation-iteration-count:infinite;
        -moz-animation-duration:4s;
        -o-animation-iteration-count:infinite;
		-o-animation-duration:4s;
	}
	#bottom_buttons
	{
		float: right;
	}
	#get_alert
	{
		text-decoration: none;
		text-decoration-style: none;
		text-decoration-line: none;
		text-align: center;
		background-color: #ee560b;
		border:solid 1px transparent !important;
		transition: 0.5s;
	}
	#get_alert:hover
	{
		background-color: #883810;
		color: white;
	}
	#read_more{
		text-decoration: none;
		text-decoration-style: none;
		text-decoration-line: none;
		text-align: center;
		background-color: #0B7A3E;
		transition: 0.5s;
	}
	#read_more:hover
	{
		background-color: #063f22;
		color: white;
	}
	.alert_box{
		display: none;
		position: fixed;
		z-index: 9999;
		margin-bottom: 10px;
		margin-left: 10px;
		width: 300px;
		height: 220px;
		background-color: #7f0a0a;
		border-radius: 10px;
		left: 0;
		bottom: 0;
	}
	.alert_form
	{
		padding: 10px;
	}
	#after_menu{
		width: 100%;
		height: 120px;
		text-align: center;
		color: white;
		background: #68001f; 
		background: -moz-linear-gradient(left, #68001f 0%, #590019 53%, #a00063 100%); 
		background: -webkit-linear-gradient(left, #68001f 0%,#590019 53%,#a00063 100%); 
		background: linear-gradient(to right, #68001f 0%,#590019 53%,#a00063 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68001f', endColorstr='#a00063',GradientType=1 ); 
	}
	.all_new_cars_title{
		font-size: 30px;
	}
	.alert_form p{
		font-style: italic;
		font-size: 11px;
		color: white;
		font-weight: bold;
		text-align: center;
	}
	.alert_form input{
		border-radius:0px;
	}
	#bell_icon{
        animation-iteration-count: 1;
        animation-duration: 2s;
		-webkit-animation-iteration-count:infinite;
        -webkit-animation-duration:2s;
        -moz-animation-iteration-count:infinite;
        -moz-animation-duration:2s;
        -o-animation-iteration-count:infinite;
        -o-animation-duration:2s;
	}
	.btn_alert_submit{
		background-color: #640707;
		border:solid 1px white;
		color: white;
		border-radius: 0px;
		transition: 0.5s;
		width: 100%;
		transition: 1s;
	}
	.btn_alert_submit:hover
	{
	   background-color: #350404;
	   color: white;
	}
	.btn_close
	{
		color: white;
		font-size: 17px;
	}
	#myError{
		padding: 5px;
		background-color: #7f0a0a;
		border-radius: 10px;
		text-align: center;
		color: white;
		width: 300px;
		z-index: 9999;
	}
	.my_model_name
	{
		text-decoration: none;
	}
	.my_model_name:hover{
		text-decoration: none;
	}
	.separator{
		height: 10px;
	}
	.mini_search{
		padding-bottom:10px;
		padding:20px;
		background-color: #e8e8e8;
	}
	.min_search_data
	{
		margin: auto 2px;
	}
	#submit_mini_search
	{
		background-color: #6f0747;
		color: white;
		border-radius: 0px;
		border:solid 1px #fff;
		font-size: 16px;
		padding: 5px 15px;
		transition:1s;
		padding: 8px 10px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
	}
	#submit_mini_search:hover
	{
		background-color: #4a071f;
		color: white;
		border:solid 1px #fff;
	}
	.form_error
	{
		z-index: 99999;
	}
	#mini_search_form select
	{
		margin-bottom: 3px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
		border:solid 1px #909090;
	}
	.car_min_info{
		margin-top: 5px;
	}
	.error_empty{
        /*display: none;*/
		background:#d41277;
		padding:7px;
		text-align:center;
        font-weight:bold;
        color: #fff;
		transition: .5s;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
		position: relative;
		margin-top: 15px;
		margin-bottom: 5px;
        min-width: 250px;
        animation-duration: 2s;
        animation-iteration-count: 1;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: 1;
        -moz-animation-duration: 2s;
        -moz-animation-iteration-count: 1;
        -o-animation-duration: 2s;
        -o-animation-iteration-count: 1;
    }
    .error_empty:after{
        content: ' ';
		width: 0px;
		height: 0;
		border-left: solid 17px transparent;
		border-top: solid 0px transparent;
		border-right: solid 17px transparent;
		border-bottom: solid 17px #d41277;
		border-bottom-width: 17px;
		position: absolute;
		left: 50%;
		bottom: 100%;
    }
    .error_empty p{
        color:white;
        font-size:18px;
    }

	